{{define "content"}}
<hgroup>
    <h2>{{.Subject.Name}} — Thi thử</h2>
    <p>{{len .Questions}} câu hỏi</p>
</hgroup>

<form method="POST" action="{{bp}}/exam/{{.Attempt.ID}}/submit">
    {{range $i, $q := .Questions}}
    <article>
        <div class="question-content"><strong>{{add $i 1}}.</strong> {{md $q.Content}}</div>
        {{if $q.MultiAnswer}}
        <p><small><em>(Chọn nhiều đáp án)</em></small></p>
        {{range $q.Answers}}
        <label>
            <input type="checkbox" name="q_{{$q.ID}}" value="{{.ID}}">
            {{.Label}}. {{mdi .Content}}
        </label>
        {{end}}
        {{else}}
        {{range $q.Answers}}
        <label>
            <input type="radio" name="q_{{$q.ID}}" value="{{.ID}}">
            {{.Label}}. {{mdi .Content}}
        </label>
        {{end}}
        {{end}}
    </article>
    {{end}}

    <button type="submit" class="contrast">Nộp bài</button>
</form>
{{end}}
